*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--font-primary: "Merriweather Sans", sans-serif;
	--color-primary: #fff;
	--color-secondary: #000;
	--bg-color-secondary: #EADFB4;
	--bg-color-btn: #29323c;
}

body {  
	font-family: var(--font-primary);
}

/*-----------Cover----------------*/

/*Navbar*/
.navbar {
    width: 100%;
	  height: 80px;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 10px;
    background: transparent;
}

.logo {
	color: var(--color-primary);
	border: 0;
	padding: 0;
	line-height: 80px;
	font-size: 33px;
}

.logo span {
	color: var(--bg-color-secondary);
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
	line-height: 60px;
	text-transform: uppercase;
}

nav ul li a {
	color: var(--color-primary);
	text-decoration: none;
}

nav ul li a:hover {
	color: var(--bg-color-secondary);
	transition: 0.3s;
}

.nav-icon{
	display: none;
}

.nav-icon i{
	color: var(--bg-color-secondary);
	font-size: 30px;
    display: none;
}

.checkbtn{
	font-size: 30px;
    color: var(--color-primary);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check{display: none;}

/*Hero Section*/
.hero{
	height: auto;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.main-hero-section{
	padding: 80px;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 30px;
}

.container-left {
  color: var(--color-primary);
}

.container-left h1 {
	font-size: 3.5rem;
}

.skills{ 
	background: linear-gradient(120deg, #dbcb8b 0%, #EADFB4 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.hero-name {
	font-size: 3.5rem;
	opacity: 0.5;
}

.container-left p{
  color: var(--color-primary);
  font-size: 1.5rem;
  opacity: 0.5;
}

.container-left button{
	margin-top: 30px;
	padding: 10px 30px;
	background-color: transparent;
	border: 3px solid var(--bg-color-secondary);
	transition: 0.3s;
    /* overflow: hidden;
    z-index: 0;
    position: relative; */
}

.container-left button:hover{
	cursor: pointer;
	background-color: var(--bg-color-secondary);
	transition: 0.3s;
}

/* .container-left button::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
   width: 100%;
	height: 100%;
	background-color: #EADFB4;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
	transition: .3s;
}

.container-left button:hover::before{
	transform: scaleX(1);
} */

.container-left a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: bold;
}

.blob{
	background-image: url("images/pic01_copy-removebg-preview.png");
	background-repeat: no-repeat;
	background-color: var(--bg-color-secondary);
	background-size: auto;
	height: 500px;
	width: 500px;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center center;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate{
	0% {border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
	50% {border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;}
	100% {border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
}

/*------------My Work---------------*/

.work-section{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
	height: auto;
	color: var(--color-primary);
}

.work-section h1 {
	padding-top: 30px;
	color: var(--color-secondary);
	font-size: 33px;
}

.work-list{
	padding: 30px 0;
	display: grid;
	grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}

.work{
	position: relative;
	overflow: hidden;
}

.work img{
	width: 100%;
	display: block;
	transition: transform 0.5s;
}

.layer{
	width: 100%;
	height: 0%;
	background: linear-gradient(rgba(0,0,0,0.6), #29323c);
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}

.layer a{
	margin-top: 20px;
	color: var(--bg-color-secondary);
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: var(--color-primary);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
	height: 100%;
}

.work-btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid var(--color-secondary);
	padding: 10px 30px;
	text-decoration: none;
	color: var(--color-secondary);
	transition: backgroud 0.5s;
}

.work-btn:hover{
	color: var(--color-primary);
	background: var(--bg-color-btn);
}

/*-------About Section--------*/
.about-section{
	height: auto;
	background-color: var(--bg-color-btn);
    padding: 50px 200px;
}

.about-me {
	padding: 100px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	justify-content: center;
	gap: 30px;
    background-color: var(--color-primary);
	color: var(--color-secondary);
}

.item-1{
  max-height: 300px;
  max-width: 300px;
  align-items: center;
  border: 2px solid var(--color-secondary);
  grid-column: 1 / 2;
}

.item-1 img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.item-2{
	grid-column: 2 / 4;
}

.item-2 h1{
	font-size: 33px;
	line-height: 60px;
}

.item-2 p{
	font-size: 1rem;
	opacity: 0.5;
	line-height: 23px;
}

.item-3{
	grid-column: 1 / 3;
}

.item-3 span{
	font-size: 25px;
	line-height: 60px;
}

.item-3 p{
	opacity: 0.5;
	font-size: 1rem;
	line-height: 23px;
}

.item-4{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	grid-column: 3 / 4;
	row-gap: 10px;
}

.skill{
	padding: 0px 10px;
	border: 2px solid var(--color-secondary);
}

.skill span{
	color: var(--color-secondary);
	opacity: 0.9;
	font-size: 0.8rem;
}


/*-----------Cards section---------------*/
.pricing-section {
     padding: 50px 100px;
	 height: auto;
	 color: var(--color-secondary);
}

.pricing-section h1 {
	color: var(--color-secondary);
	font-size: 33px; 
}

.grid-section {
	padding: 50px 0;
	display: grid;
	grid-template-columns: repeat(3,1fr); 
    justify-content: center;
	gap: 60px;
}

.card {
	padding: 50px;	
    text-align: center;
    background-color: var(--color-primary); 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card h3{
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}

.card h1{
	padding-top: 20px;
	text-align: center;
	font-size: 50px;
	color: var(--bg-color-secondary);
}

.card h1 span{
	font-size: 20px;
}

.ul-content li{
  list-style-type: none;
  line-height: 50px;
  opacity: 0.5;
}

/* Contact Form */
.contact-container{
  background-image: url("images/contactbgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 200px;
  height: auto;
}

.form {
  display: grid;
  grid-template-columns: repeat(2,1fr);  
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 50px;
  gap: 50px;
}

.major{
	font-size: 33px;
	text-align: center;
}	

.field-sm, .field-lg,button{
	margin: 10px 0px;
}

.textbox, .send-button, textarea{
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid var(--bg-color-secondary);
	text-transform: uppercase;
}

textarea {
	height: 200px;
}

.send-button{
	background-color: var(--bg-color-secondary);
}

.contact-left button:hover{
	cursor: pointer;
}

.contact-right{
	padding-top: 80px;
}

.contact-right ul li{
   list-style-type: none;
   padding: 10px;
}

.place {
  margin-left: 38px;
}

.phone {
  margin-left: 36px;
}

.gmail {
  margin-left: 36px;
}

.social-media-list{
	font-size: 22px;
	text-align: center;
	width: 100%;
}

.social-media-list li {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 45px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li a{
  color: var(--bg-color-secondary);
}

.social-media-list li:hover {
  background-color: var(--bg-color-secondary);
}

.social-media-list li:hover a {
  color: var(--color-secondary);
}

hr {
  border-color: var(--bg-color-secondary);
}

.btn-div{
	text-align: center;
}

.resume-btn{
	width: 200px;
	padding: 10px;
	background-color: var(--color-primary);
	border: 2px solid var(--bg-color-secondary);
	text-align: center;
	border-radius: 3px;
}

.resume-btn:hover{
	cursor: pointer;
}

/*Footer*/
.footer-end{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: var(--color-primary);
	padding: 30px 0;
	height: auto;
	text-align: center;
	font-weight: 100;
}

.footer-end span{
	opacity: 0.5;
}

/*-----------------Media Queries---------------------*/
@media only screen and (max-width: 1246px){
	.main-hero-section{
		gap: 20px;
	}

	.about-section{
		padding: 50px 100px;
    }

	.pricing-sectio{
		padding: 50px 100px;
    }

	.contact-container{
		padding: 50px 100px;
	}
}


@media only screen and (max-width: 1188px){
    .checkbtn{
        display: block;
    }

      .nav-links{
        position: fixed;
        width: 100%;
        height: auto;
        background: white;
        top: 100px;
        right: -100%;
        text-align: center;
        transition: all .5s;
      }
      .nav-links li{
        display: block;
        margin: 50px 0;
        padding: 10px 0px;
        line-height: 30px;
      }

      .nav-links li a{
        font-size: 20px;
		color: #000;
      }  

      #check:checked ~ .nav-links{
        right: 0;
      }
	}

@media only screen and (max-width: 1014px){
/*Navbar*/
.navbar {
     font-size: 15px;
     font-weight: normal;
   }

.logo h1{
   	font-size: 20px;
   }
  
/*hero-section*/
.main-hero-section{
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/*my work section*/
.work-section{
	height: auto;
	padding-top: 20px;
}

.work-list{
 margin-top: 20px;
 margin-bottom: 20px;
 grid-template-columns: repeat(2,1fr);
}

.work-section h1 {
	padding-top: 20px;
	font-size: 23px;
}

/*About me section*/
.about-section{
  padding: 50px 80px;
  height: auto;
}

.about-me {
	padding: 40px;
}

/*Pricing Section*/
.pricing-section{
	height: auto;
	padding-bottom: 50px;
}

.pricing-section h1 {
  padding-top: 20px	;
	padding-bottom: 20px;
}

.grid-section {
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
}

.card {
  text-align: center;
}

.ul-content li{
  line-height: 40px;
 }

/*Contact Section*/
.contact-container{
	padding: 50 100px;
}

.form {
	grid-template-columns: repeat(1,1fr);  
	gap: 0px;
}

.contact-right{
	padding-top: 50px;
}

.contact-list{
	padding-bottom: 15px;
}

.social-media-list{
	padding: 15px 0px;
}

.social-media-list li {
  font-size: 22px;
  height: 50px;
  width: 50px;
  line-height: 33px;
}

.btn-div{
	padding-top: 15px;
}

/*end*/
} 

@media only screen and (max-width: 840px){
	.about-me{
		grid-template-rows: repeat(3,1fr);
	}
}

@media only screen and (max-width: 699px){
	.container-right{
		min-width: 100px;
	}

	.blob{
		min-width: 100px;
	}

	.work-list{
		grid-template-columns: repeat(1,1fr);
	   }
	
	.about-me{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

   .grid-section{
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(3,1fr);
   }
}

@media only screen and (max-width: 504px){
	.main-hero-section{
		padding: 80px 40px;
	}

	.work-section{
		padding: 50px 40px;
	}

	.about-section{
		padding: 50px 40px;
	}

	.pricing-section{
		padding: 50px 40px;
	}
	
	.contact-container{
		padding: 50px 40px;
	}
